body {
  background: linear-gradient(135deg, #fd6f28, #ffb95e);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 10px;
    color: #333;
    background-clip: border-box;
}

*{
    box-sizing: border-box;
 
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}

.container {
justify-self: center;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    background-color: #fdfdfdab;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}
.Invalid-birthdate{
    color: red;
}
.your-age{
    color: rgb(0, 0, 170);
    font-style: italic;
    font-size: 23px;
}
h1 {
    font-size: 45px;
    font-family: "smart-artisan",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(122, 12, 12);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"] {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    box-sizing: border-box;
}
button:active {
    
    transform: scale(0.95);
  }
  
button {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(63, 231, 69);
    color: rgb(3, 0, 34);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

button:hover {
    color:  rgb(63, 231, 69);
    background-color: #202020;
    box-shadow: 0 0 0px ;
}

#result {
  direction: rtl;
  background-color: #24242400;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}


@font-face {
    font-family: smart-artisan;
    src: url("../fonts/smart-artisan.regular.ttf");
  }
  #user-icon {
    position: absolute;
      background-color:rgba(255, 248, 220, 0.7);
      width: 50px;
     
      height: 50px;
      margin-left: 20px;
      margin-top: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  
  #user-icon:hover {
      color: #000000;
  }
  
  #user-icon:active{
      background-color: #d9d9d9;
      transform: scale(0.95);
    }

  
  @media (max-width: 2000px) {
    
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }
@media screen and (max-width :600px) {
    .container {
        max-width: 350px;
    }
    input[type="date"] {
        width: 80%;
        height: 32px;
    }
    
    h1{
        font-size: 35px;
    }
  
  }
